@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 2000px) {
    body {
        background-color: black;
    }
    
    section {
        background-image: url('imagens/fundo\ 2.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        text-align: center;
        padding: 20px;
    }
    
    section h1 {
        color: white;
    }

    section h1 img {
        width: 60px;
    }

    section p {
        font-weight: bold;
        font-size: 9pt;
        text-shadow: 2px, 2px, 2px black;
        margin: auto;
        color: white;
        margin-top: -1px;
    }

    section video {
        background-color: rgba(255, 0, 0, 0.199);
        border-radius: 6px;
        padding: 3px;
        margin-top: 10px;
    }

    div.button {
        padding: 10px;
        margin-top: 20px;
    }

    section a {
        padding: 10px;
        background-color: red;
        border-radius: 10px;
        color: white;
        text-decoration: none;
    }

    section a:hover {
        cursor: pointer;
        background-color: rgb(128, 1, 1);
        transition: .5s;
    }
}
