@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 2000px) {
    body {
        background-color: black;
        text-align: center;
    }
    
    section {
        background-image: url('imagens/fundo\ 2.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        height: 100%;
        text-align: center;
        padding: 20px;
    }
    
    section h1 {
        color: white;
    }

    section h1 img {
        width: 80px;
    }

    section p {
        font-weight: bold;
        font-size: 9pt;
        text-shadow: 2px, 2px, 2px black;
        margin: auto;
        color: white;
        margin-top: -1px;
    }


    section video {
        background-color: rgba(255, 0, 0, 0.199);
        border-radius: 6px;
        padding: 5px;
        margin-top: 10px;
    }

    #video {
        display: flex;
    }

    .carrossel {
        height: 250px;
        width: 80%;
        position: relative;
    }

    .carrossel .esquerda, 
    .carrossel .direita {
        color: white;
        font-weight: bold;
        height: 100%;
        width: 45px;
        line-height: 250px;
        font-size: 25px;
        text-align: center;
        background-color: rgba(193, 197, 197, 0.582);
        top: 0;
        z-index: 3;
    }

    .esquerda {
        position: absolute;
        left: -30px;
    }

    .direita {
        position: absolute;
        right: -60px;
    }

    
}
